@import 'src/styles/global.scss';

.Homepage {
  position: relative;
  width: 100vw;
  height: 100vh;
  @include flex-column-full-center();
  font-size: var(--size-bigger);
  background: var(--color-dark);

  &_logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
  }

  &_options {
    margin-top: -10px;
  }

  &_optionBlock {
    display: flex;
    font-size: var(--size-big);
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  &_optionsBlockButtons {
    display: flex;

    button {
      margin: 10px;
    }
  }
}
