@import 'src/styles/global.scss';

.SettingsMenu {
  @include flex-column-full-center();
  box-shadow: 0 11px 10px rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 90px;
  transition: height 0.1s, width 0.1s, box-shadow 0.2s;
  background: rgba(97, 28, 53, 0.75);
  border-radius: 20px 0 0 20px;
  cursor: pointer;

  &:hover {
    transition: all 0.2s;
    box-shadow: 0 11px 10px rgba(66, 255, 0, 0.5);
  }

  &__opened {
    width: 430px;
    height: 350px;
    cursor: default;
    transition: all 0.2s;
    box-shadow: 0 11px 10px rgba(66, 255, 0, 0.5);
  }

  &_container {
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_row {
  }

  &_rowLabel {
    font-size: var(size-normal);
    font-weight: 300;
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
  }
}
