@import 'src/styles/global.scss';

.Button {
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  border-radius: 15px;
  min-width: 110px;
  height: 80px;
  background: var(--color-secondary);
  color: var(--color-secondary);
  @include text-stroke(var(--color-main));
  font-family: Lazer84, sans-serif;
  font-size: var(--size-normal);
  box-shadow: 0 4px 4px #000;
  cursor: pointer;
  transition: all 0.2s;

  svg {
    transition: all 0.2s;
  }

  &__noBackground {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    position: relative;

    > div {
      position: relative;
      margin-left: 20px;
      font-family: BasicLazer, sans-serif;
      font-size: var(--size-big);
      text-shadow: none;
      color: var(--color-main);

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1.5px;
        padding-left: 3px;
        padding-right: 3px;
        margin-left: -3px;
        bottom: -4px;
        left: 0;
        background: var(--color-main);
        transition: all 0.2s ease-in;
      }
    }

    svg {
      stroke: var(--color-main) !important;
      fill: var(--color-main) !important;
    }

    &:hover {
      > div {
        @include text-stroke(var(--color-main));
        color: var(--color-secondary) !important;
        &::after {
          padding-left: 43px;
          margin-left: -43px;
        }
      }
    }

    &:active,
    &__active {
      background: none !important;
      box-shadow: none !important;
      border: none !important;
    }
  }

  &__small {
    min-width: 75px;
    height: 50px;
  }

  &__disabled {
    opacity: 0.2;
    cursor: default;

    &:hover {
      background: var(--color-secondary) !important;
      color: var(--color-secondary) !important;
      text-shadow: -1px -1px 0 var(--color-main), 1px -1px 0 var(--color-main),
        -1px 1px 0 var(--color-main), 1px 1px 0 var(--color-main) !important;

      svg {
        fill: none !important;
        stroke: var(--color-main) !important;
      }
    }
  }

  &:hover {
    background: var(--color-main);
    color: var(--color-main);
    @include text-stroke(var(--color-secondary));

    svg {
      stroke: var(--color-secondary);
    }
  }

  &__active {
    box-shadow: unset !important;
    background: var(--color-main);
    text-shadow: none !important;
    color: var(--color-secondary);

    svg {
      stroke: var(--color-secondary);
      fill: var(--color-secondary);
    }

    &:hover {
      box-shadow: unset !important;
      background: var(--color-main);
      text-shadow: none !important;
      color: var(--color-secondary);

      svg {
        stroke: var(--color-secondary);
        fill: var(--color-secondary);
      }
    }
  }
}

@media (hover: none) {
  .Button {
    &:hover {
      background: var(--color-secondary);
      color: var(--color-secondary);
      @include text-stroke(var(--color-main));

      svg {
        fill: none;
        stroke: var(--color-main);
      }
    }

    &__active {
      box-shadow: unset !important;
      background: var(--color-main) !important;
      text-shadow: none !important;
      color: var(--color-secondary) !important;

      svg {
        stroke: var(--color-secondary) !important;
        fill: var(--color-secondary) !important;
      }
    }
  }
}
