//layout
html {
  //font weights :
  --weight-light: 300;
  --weight-regular: normal;
  --weight-bold: 500;

  //text size
  --size-smaller: 12px;
  --size-small: 15px;
  --size-normal: 18px;
  --size-big: 20px;
  --size-bigger: 24px;

  //media sizes
  --media-tablet: 'screen and (max-width : 1020px)';
  --media-phone: 'screen and (max-width : 700px)';

  font-family: 'Roboto', sans-serif;
  font-weight: var(--weight-regular);
  font-size: var(--size-normal);
  background-color: var(--background-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Streamster';
  src: url('./fonts/Streamster.ttf');
}

@font-face {
  font-family: 'DotGothic';
  src: url('./fonts/DotGothic16-Regular.ttf');
}
body {
  margin: 0;
}
