// Flexboxes
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column-full-center {
  @include flex-column;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-full-center {
  @include flex-row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Streamster', sans-serif;
  color: white;
}

h2 {
  font-family: 'DotGothic', sans-serif;
  color: white;
}
