@import 'src/styles/global.scss';

.YoutubeVideo {
  width: 100%;
  height: 100%;

  &:before {
    box-shadow: inset 0 100px 2000px black, inset 0 -100px 2000px black;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  &_interactiveLayer,
  &_videoContainer,
  &_videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__hidden {
      opacity: 0;
    }
  }

  &_videoContainer {
    z-index: 1;
  }

  &_interactiveLayer {
    z-index: 4;
    @include flex-column();
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }

  &_videoWrapper {
    z-index: -1;
    opacity: 0;
  }

  &_trackInfos {
    font-weight: 300;
    @include flex-column-full-center();
    letter-spacing: 3px;
  }

  &_trackTitle {
    font-size: 35px;
  }

  &_trackPosition {
    font-size: 22px;
    opacity: 0.6;
  }

  &_titleWrapper {
    transform: rotate(-4.49deg);
  }

  &_topInfos {
    margin-top: 40px;
    @include flex-column-full-center();

    h3 {
      font-family: BasicLazer, sans-serif;
      font-size: 30px;
      letter-spacing: 7px;
      color: var(--color-secondary);
      @include text-stroke(var(--color-main));
      font-weight: 300;
    }

    h1 {
      font-weight: 300;
      font-family: 'Lazer84', sans-serif;
      font-size: 40px;
      text-shadow: 0 8px 18px var(--color-secondary);
      letter-spacing: 4px;
      word-spacing: 6px;
      margin-top: 0;
      margin-bottom: 10px;
      -webkit-text-stroke: 1px var(--color-main);
      color: transparent;
    }
  }

  &_bottomInfos {
    @include flex-column-full-center();
    margin-bottom: 50px;
  }

  &_playerButtons {
    @include flex-row();
    width: 270px;
    align-items: center;
    justify-content: space-between;
  }

  &_btn {
    @include flex-row();
    align-items: center;
    justify-content: space-evenly;
  }

  &_btnIcon {
    font-size: 25px;
    padding-right: 5px;
  }

  &_atmosphereSelector,
  &_moodSelector {
    position: absolute;
    bottom: 20px;
  }

  &_atmosphereSelector {
    right: 10px;
  }

  &_moodSelector {
    right: 100px;
  }

  a {
    color: inherit;
  }

  &_settings {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
