@import 'src/styles/global.scss';

.YoutubeVideo {
  width: 100%;
  height: 100%;

  &_interactiveLayer,
  &_videoContainer,
  &_videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &_interactiveLayer {
    z-index: 1;
    @include flex-column();
    align-items: center;
    background: transparent;
    box-shadow: inset 0 0 100px black;
  }

  &_videoWrapper {
    opacity: 0;
    z-index: -1;
  }

  &_trackTitle {
    height: 100px;
  }
}
