@import 'src/styles/global.scss';

.YoutubeVideo {
  width: 100%;
  height: 100%;

  &_interactiveLayer,
  &_videoContainer,
  &_videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &_interactiveLayer {
    z-index: 1;
    @include flex-column();
    align-items: center;
    justify-content: space-between;
    background: transparent;
    box-shadow: inset 0 100px 2000px black, inset 0 -100px 2000px black;
  }

  &_videoWrapper {
    z-index: -1;
    opacity: 0;
  }

  &_trackTitle {
    @include flex-column-full-center();
  }

  &_topInfos {
    margin-top: 40px;
    @include flex-column-full-center();
  }

  &_bottomInfos {
  }

  &_playerButtons {
    @include flex-row-full-center();
  }

  &_btn {
    @include flex-row();
    align-items: center;
    justify-content: space-evenly;
  }

  &_btnIcon {
    font-size: 25px;
    padding-right: 5px;
  }
}
